{{#*inline "page"}}
    <form action="{{#if resource}}/modifyresource{{else}}/addresource{{/if}}" method="get" accept-charset="utf-8">
        <table>
            <tr>
                <td><label for="name">Resource name</label></td>
                <td><input type="text" name="name" id="name" value="{{resource.name}}" required autofocus/></td>
            </tr>
            <tr>
                <td><label for="type_id">Type (unused)</label></td>
                <td>
                    <select name="type_id" id="type_id" required>
                        {{#if resource}}<option value="{{resource.type_id}}" selected>{{resource.type_name}}</option>{{/if}}
                        {{#each types}}
                           <option value="{{id}}">{{type_name}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>{{#if resource}}<input type="hidden" name="id" value="{{resource.id}}"/>{{/if}}</td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
    {{#if resource}}
        <br>
        <form action="/addresparameter" method="get" accept-charset="utf-8">
            <table>
                <tr><th colspan="2">Assign parameter</th></tr>
                <tr>
                    <td><label for="param_id">Parameter</label></td>
                    <td>
                        <select name="param_id" id="param_id" required>
                            {{#each parameter_list}}
                                <option value="{{0}}">{{1}} ({{2}})</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><abbr title="Is this parameter used to transport this resource? Only numeric parameters are allowed.">Movable?</abbr></td>
                    <td><input type="checkbox" name="movable" value="false"></td>
                </tr>
                <tr>
                    <td><a href="/resource/{{resource.id}}/parameters">List existing</a></td>
                    <td>
                        <input type="hidden" name="resource_id" value="{{resource.id}}" />
                        <input type="submit" value="Submit" />
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <form action="/addreslocation" method="get" accept-charset="utf-8">
            <table>
                <tr><th colspan="2">New resource location</th></tr>
                <tr>
                    <td><label for="amount">Amount</label></td>
                    <td><input type="number" id="amount" name="amount" value="0" min="0" step="0.01" required /></td>
                </tr>
                <tr>
                    <td><label for="res_param">Movable by</label></td>
                    <td>
                        <select name="res_param" id="res_param" required>
                            {{#each parameters}}
                                <option value="{{id}}">{{name}} ({{unit}})</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="radius">Radius [m]</label></td>
                    <td><input type="number" id="radius" name="radius" value="0" min="0" required /></td>
                </tr>
                <tr>
                    <td><label for="location">Location</label></td>
                    <td>
                        <select name="location" id="location" required>
                            {{#each coordinates}}
                                <option value="{{id}}">lat:{{lat}} lon:{{lon}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><a href="/resource/{{resource.id}}/locations">List existing</a></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    {{/if}}
{{/inline}}
{{> layout}}