{{#*inline "page"}}
<table>
    <tr><th>ID</th><th>Name</th><th>Value</th><th>Movable?</th></tr>
    {{#each .}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{value}} {{unit}}</td>
            <td>{{movable}}</td>
        </tr>
    {{/each}}
</table>
{{/inline}}
{{> layout}}