{{#*inline "page"}}
<table>
    <tr><th>ID</th><th>Name</th><th>Value</th><th>Transportable?</th><th>Operation</th></tr>
    {{#each .}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>
                {{#if value.Number}}
                    {{value.Number}} {{unit}}
                {{else}}
                    {{#if value.Text}}
                        {{value.Text}}
                    {{else}}
                        {{#if value.Resource}}
                            {{value.Resource.0}} {{unit}} {{value.Resource.1}}
                        {{else}}
                            - {{unit}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            </td>
            <td>{{movable}}</td>
        <td>{{#unless movable}}<a href="/resource/parameter/{{res_param_id}}/addvalue">Add value</a>{{/unless}}</td>
        </tr>
    {{/each}}
</table>
{{/inline}}
{{> layout}}