{{#*inline "page"}}
<table>
    <tr><th>ID</th><th>Name</th><th>Value</th><th>Transportable?</th><th>Operation</th></tr>
    {{#each .}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>
                {{#if value.Number}}
                    {{value.Number}}
                {{else}}
                    {{#if value.Text}}
                        {{value.Text}}
                    {{else}}
                        {{#if value.Resource}}
                            {{value.Resource}}
                        {{else}}
                            -
                        {{/if}}
                    {{/if}}
                {{/if}} {{unit}}
            </td>
            <td>{{movable}}</td>
            <td><a href="/resource/{{res_id}}/parameter/{{id}}/addvalue">Add value</a></td>
        </tr>
    {{/each}}
</table>
{{/inline}}
{{> layout}}