{{#*inline "page"}}
    <form action="{{#if transform}}/modifytransform{{else}}/addtransform{{/if}}" method="get" accept-charset="utf-8">
        <table>
            <tr>
                <td><label for="refer">Text</label></td>
                <td><input type="text" name="refer" id="refer" value="{{transform.refer}}" required autofocus/></td>
            </tr>
            <tr>
                <td><label for="type_id">Transformation type</label></td>
                <td>
                    <select name="type_id" id="type_id" required>
                        {{#if transform}}<option value="{{transform.type_id}}" selected>{{transform.type_name}}</option>{{/if}}
                        {{#each types}}
                            <option value="{{id}}">{{type_name}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>{{#if transform}}<input type="hidden" name="id" value="{{transform.id}}"/>{{/if}}</td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
    {{#if transform}}
        <br>
        <form action="/addline" method="get" accept-charset="utf-8">
            <table>
                <tr><th colspan="2">Add line</th></tr>
                <tr>
                    <td><label for="amount">Amount</label></td>
                    <td><input type="number" id="amount" name="amount" step="0.01" required /></td>
                </tr>
                <tr>
                    <td><label for="location">Location</label></td>
                    <td>
                        <select name="location" id="location" required>
                            {{#each locations}}
                                <option value="{{id}}">{{res_name}} {{amount}}{{unit}} {{lat}} {{lon}} {{radius}}m</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="hidden" name="transform_id" value="{{transform.id}}"></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
        <br>
        <table>
            <tr><th colspan="7">List of lines</th></tr>
            <tr><th>ID</th><th>Resource</th><th>Amount</th><th>Latitude</th><th>Longitude</th><th>Radius</th><th>Operation</th></tr>
            {{#each transform.lines}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{location.res_name}}</td>
                    <td>{{amount}}{{location.unit}}</td>
                    <td>{{location.lat}}</td>
                    <td>{{location.lon}}</td>
                    <td>{{location.radius}}m</td>
                    <td><a href="/deleteline/{{id}}">Delete</a></td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
{{/inline}}
{{> layout}}